/*LOGIN */
/* sliding panel */
#toppanel {
background: none;
	position: absolute;   /*Panel will overlap  content */
	/*position: relative;*/   /*Panel will "push" the content down */
	right:0;
	top:0;
	width: 510px;
	z-index: 999;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 90%; /* font-size set to 130% for the default Kubrick Wordpress theme */
	-moz-border-radius:1em;
	-webkit-border-radius:1em;
	-khtml-border-radius:1em;
	-o-border-radius:1em;
	border-radius:1em;
}
 
#panel {
	width: 100%;
	height: 280px;
	color: #999999;
	background: #FFF;
	overflow: hidden;
	position: relative;
	z-index: 3;
	display: none;

}
 
#panel h1 {
	font-size: 1.3em;
	padding: 5px 0 10px;
	margin: 0;
	color: #000;
	text-align: left;
	font-weight: normal;
}
 
#panel h2{
	font-size: 1.2em;
	padding: 10px 0 5px;
	margin: 0;
	color: white;
	text-align: left;
}
 
#panel p {
	margin: 5px 0;
	padding: 0;
}
 
#panel a {
	text-decoration: none;
	color: #15ADFF;
}
 
#panel a:hover {
	color: white;
}
 
#panel a-lost-pwd {
	display: block;
	float: left;
}
 
#panel ul {
	margin: 0 0 5px 0;
	padding: 0;
	line-height: 1.6em;
	list-style: none;
}
 
#panel .content {
	width: 600px;
	margin: 0 auto;
	padding-top: 15px;
	text-align: left;
	font-size: 0.85em;
}
 
#panel .content .left {
	width: 225px;
	float: left;
	margin-bottom: 25px;
	padding: 0 15px;
	border-right: 1px solid #E2E2D8;
	min-height: 220px;
}
 

#panel .content .narrow {
	width:120px !important;
}
 
#panel .content form {
	margin: 0 0 10px 0;
}
 
#panel .content label {
	float: left;
	padding-top: 8px;
	clear: both;
	width: 280px;
	display: block;
}
 
#panel .content input.field {
    border-color: #B8C4C5 #FFF #FFF #B8C4C5;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    border-right: 1px solid #FFF;
    border-style: solid;
    border-width: 1px;
    margin-right: 5px;
    margin-top: 4px;
    width: 115px;
    color: black;
    height: 20px;
	background:#E8EFF5;
    }
	
#panel .content input.field:hover{
	background: #CEDDDF;
}

#panel .content input:focus.field {
	background: #CEDDDF;
}
 
/* BUTTONS */
/* Login and Register buttons */
#panel .content input.bt_login, #panel .content input.bt_register {
    display: block;
    float: left;
    clear: left;
    height: 24px;
    text-align: center;
    cursor: pointer;
    border: none;
    font-weight: bold;
    margin: 10px 0
    }

#panel .content input.bt_login {
    width: 74px;
    background: -moz-linear-gradient(#F9F9F9, #E5E5E5) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(#F9F9F9, #E5E5E5) repeat scroll 0 0 transparent;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px
    }

#panel .content input.bt_login:hover {
    background: -webit-linear-gradient(#F9F9F9, #A1A1A1) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(#F9F9F9, #A1A1A1) repeat scroll 0 0 transparent
    }

#panel .content input.bt_register {
    width: 94px;
    color: black;
    background: -moz-linear-gradient(#F9F9F9, #E5E5E5) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(#F9F9F9, #E5E5E5) repeat scroll 0 0 transparent;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px
    }

#panel .content input.bt_register:hover {
    background: -moz-linear-gradient(#F9F9F9, #E5E5E5) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(#F9F9F9, #E5E5E5) repeat scroll 0 0 transparent;
    }

#panel .lost-pwd {
    display: block;
    float: left;
    clear: right;
    padding: 15px 5px 0;
    font-size: 0.95em;
    text-decoration: underline
    }
	
/* do sem je preverjono za vse brskalnike */	
/* Panel Tab/button */
.tab {

	height: 42px;
	position: relative;
	top: 5px;
	z-index: 999;
}
 
.tab ul.login {
	display: block;
	position: relative;
  	float: right;
  	clear: right;
  	height: 42px;
	width: auto;
  	font-weight: bold;
	line-height: 42px;
	margin: 0;
	right:-30px;
  	color: white;
  	font-size: 80%;
	text-align: center;
}
 
.tab ul.login li.left {

  	height: 42px;
	width: 30px;
	padding: 0;
	margin: 0;
  	display: block;
	float: left;
}
 
.tab ul.login li.right {

  	height: 42px;
	width: 30px;
	padding: 0;
	margin: 0;
  	display: block;
	float: left;
}
 
.tab ul.login li {
 	text-align: left;
  	padding: 0 6px;
	display: block;
	float: left;
	height: 42px;

}
 
.tab ul.login li a {
	color: #15ADFF;
	font-size:9px;
}
 
.tab ul.login li a:hover {
	color: white;
}
 
.tab .sep {color:#414141}
 
.tab a.open, .tab a.close {
	height: 20px;
	line-height: 20px !important;
	padding-left: 30px !important;
	cursor: pointer;
	display: block;
	width: 100px;
	position: relative;
	top: 11px;
}
 
.tab a.open {background: url(../images/bt_open.png) no-repeat left 0;}
.tab a.close {background: url(../images/bt_close.png) no-repeat left 0;}
.tab a:hover.open {background: url(../images/bt_open.png) no-repeat left -19px;}
.tab a:hover.close {background: url(../images/bt_close.png) no-repeat left -19px;}


/* JS disabled styles */
nav li:hover ul { display:block; }

/* base nav styles */
nav { display:block; margin:-3.72em auto 20px; position:relative; font:16px Tahoma, Sans-serif; }
nav ul { padding:0; margin:0; }
nav li { position:relative; float:left; list-style-type:none; }
nav ul:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
nav li a { display:block; padding:10px 20px; border-left:1px solid #2F2F2F; border-right:1px solid #2F2F2F; color:#eee; text-decoration:none; }
nav li a:focus { outline:none; text-decoration:underline; }
nav li:first-child a { border-left:none; }
nav li.last a { border-right:none; }
nav a span { display:block; float:right; margin-left:5px; }
nav ul ul { display:none; width:100%; position:absolute; left:0; background:#6a6a6a; }
nav ul ul li { float:none; }
nav ul ul a { padding:5px 10px; border-left:none; border-right:none; font-size:14px; }
nav ul ul a:hover { background-color:#555; }

/* CSS3 */
.borderradius nav { -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }


.cssgradients nav li:hover { background:url(../images/bk_top_hover.png) 50% 0 no-repeat;}
.borderradius nav ul ul { -moz-border-radius-bottomleft:4px; -moz-border-radius-bottomright:4px; -webkit-border-bottom-left-radius:4px; -webkit-border-bottom-right-radius:4px; border-bottom-left-radius:4px; border-bottom-right-radius:4px; }
.boxshadow.rgba nav ul ul { background-color:rgba(0,0,0,0.8); -moz-box-shadow:2px 2px 2px rgba(0,0,0,.8); -webkit-box-shadow:2px 2px 2px rgba(0,0,0,.8); box-shadow:2px 2px 2px rgba(0,0,0,.8); }
.rgba nav ul ul li { border-left:1px solid rgba(0,0,0,0.1); border-right:1px solid rgba(0,0,0,0.1); }
.rgba nav ul ul a:hover { background-color:rgba(85,85,85,.9); }
.borderradius.rgba nav ul ul li.last { border-left:1px solid rgba(0,0,0,0.1); border-bottom:1px solid rgba(0,0,0,0.1); -moz-border-radius-bottomleft:4px; -moz-border-radius-bottomright:4px; -webkit-border-bottom-left-radius:4px; -webkit-border-bottom-right-radius:4px; border-bottom-left-radius:4px; border-bottom-right-radius:4px; }
.csstransforms ul a span { -moz-transform:rotate(-180deg);-webkit-transform:rotate(-180deg); }


/* Social Links 

#socialLinks {
	position:absolute;
	right:35em;
	top:75px;
	background:url(images/bk_social_links.png) 0 50% no-repeat;
	height:64px;
	float:right;
}

#socialLinks .linkedin, #socialLinks .facebook, #socialLinks .twitter, #socialLinks .rss {
	display:block;
	width:64px;
	height:64px;
	float:left;
	margin-left:5px;
	text-indent:-9999px;
	
}

#socialLinks .linkedin:hover, #socialLinks .facebook:hover, #socialLinks .twitter:hover, #socialLinks .rss:hover {
	margin-bottom:2px;
}

#socialLinks .linkedin {
	background:url(images/ico_linkedin.png) 0 0 no-repeat;
}

#socialLinks .facebook {
	background:url(../images/facebook.png) 0 0 no-repeat;
}

#socialLinks .twitter {
	background:url(../images/twitter.png) 0 0 no-repeat;
}

#socialLinks .rss {
	background:url(../images/rss1.png) 0 0 no-repeat;
}*/


/* Stars */

/* stars sizes: 12, 16, 20, 24, 30, 46 */
/* stars sets: christmas, crystal, darkness, oxygen, oxygen_gif, plain, pumpkin, soft, starrating, starscape */
/* thumbs sizes: 12, 16, 20, 24, 32, 40 */
/* thumbs sets: classical, starrating, starrating_gif */
/* loaders: flower, snake */


.starsbar.gdsr-size-24, .starsbar.gdsr-size-24 .gdheight, .starsbar.gdsr-size-24 a { height: 24px; }
.starsbar.gdsr-size-24 a.s1 { width: 24px; }
.starsbar.gdsr-size-24 a.s2 { width: 48px; }
.starsbar.gdsr-size-24 a.s3 { width: 72px; }
.starsbar.gdsr-size-24 a.s4 { width: 96px; }
.starsbar.gdsr-size-24 a.s5 { width: 120px; }
.starsbar.gdsr-size-24 a.s6 { width: 144px; }
.starsbar.gdsr-size-24 a.s7 { width: 168px; }
.starsbar.gdsr-size-24 a.s8 { width: 192px; }
.starsbar.gdsr-size-24 a.s9 { width: 216px; }
.starsbar.gdsr-size-24 a.s10 { width: 240px; }
.starsbar.gdsr-size-24 a.s11 { width: 264px; }
.starsbar.gdsr-size-24 a.s12 { width: 288px; }
.starsbar.gdsr-size-24 a.s13 { width: 312px; }
.starsbar.gdsr-size-24 a.s14 { width: 336px; }
.starsbar.gdsr-size-24 a.s15 { width: 360px; }
.starsbar.gdsr-size-24 a.s16 { width: 384px; }
.starsbar.gdsr-size-24 a.s17 { width: 408px; }
.starsbar.gdsr-size-24 a.s18 { width: 432px; }
.starsbar.gdsr-size-24 a.s19 { width: 456px; }
.starsbar.gdsr-size-24 a.s20 { width: 480px; }

.ratepost.gdsr-size-24, .ratepost.gdsr-size-24 .starsbar .gdouter { width: 240px; }

.rcmmpost.gdsr-size-24, .rcmmpost.gdsr-size-24 .starsbar .gdouter { width: 240px; }

.rcmmmulti.gdsr-size-24, .rcmmmulti.gdsr-size-24 .starsbar .gdouter { width: 480px; }

.ratecmm.gdsr-size-24, .ratecmm.gdsr-size-24 .starsbar .gdouter { width: 120px; }

.reviewcmm.gdsr-size-24, .reviewcmm.gdsr-size-24 .starsbar .gdouter { width: 120px; }



.gdsr-oxygen .starsbar.gdsr-size-24 .gdouter { background: url('../images/stars24.png') repeat-x 0px 0px; }
.gdsr-oxygen .starsbar.gdsr-size-24 .gdinner { background: url('../images/stars24.png') repeat-x 0px -48px; }
.gdsr-oxygen .starsbar.gdsr-size-24 .gdcurrent { background: url('../images/stars24.png') repeat-x 0px -24px; }
.gdsr-oxygen .starsbar.gdsr-size-24 a:hover { background: url('../images/stars24.png') repeat-x 0px -24px !important; }


.ratepost, .rcmmpost, .ratemulti, .rcmmmulti, .ratecmm, .reviewcmm { position: relative; display: block; }
.ratepost .starsbar .gdinner, .rcmmpost .starsbar .gdinner, .ratemulti .starsbar .gdinner, .rcmmmulti .starsbar .gdinner, .ratecmm .starsbar .gdinner, .reviewcmm .starsbar .gdinner { width: 0; }
.ratepost .starsbar a:active, .rcmmpost .starsbar a:active, .ratemulti .starsbar a:active, .rcmmmulti .starsbar a:active, .ratecmm .starsbar a:active, .reviewcmm .starsbar a:active { text-decoration: none; border: 0 !important; }
.ratepost .starsbar a:visited, .rcmmpost .starsbar a:visited, .ratemulti .starsbar a:visited, .rcmmmulti .starsbar a:visited, .ratecmm .starsbar a:visited, .reviewcmm .starsbar a:visited { text-decoration: none; border: 0 !important; }
.ratepost .starsbar a:hover, .rcmmpost .starsbar a:hover, .ratemulti .starsbar a:hover, .rcmmmulti .starsbar a:hover, .ratecmm .starsbar a:hover, .reviewcmm .starsbar a:hover { text-decoration: none; border: 0 !important; }
.ratepost .starsbar a, .rcmmpost .starsbar a, .ratemulti .starsbar a, .rcmmmulti .starsbar a, .ratecmm .starsbar a, .reviewcmm .starsbar a { position: absolute; display: block; left: 0; top: 0; text-decoration: none; border: 0 !important; cursor: pointer; background: none !important; }


.gdt-size-20.gdthumbtext { line-height: 20px; }
.gdt-size-20.gdthumb, .gdt-size-20.gdthumb a, .gdt-size-20.gdthumb div { width: 20px; height: 20px; }
.gdt-size-20.gdthumb.gddw a, .gdt-size-20.gdthumb.gddw div { background-position: 0px -20px !important; }
.gdt-size-20.gdthumb.gdup a:hover { background-position: 0px -40px; }
.gdt-size-20.gdthumb.gddw a:hover { background-position: 0px -60px !important; }

.gdt-size-20.gdthumb a.gdt-starrating, .gdt-size-20.gdthumb div.gdt-starrating { background: url('../images/thumbs20.png') no-repeat; }


.gdthumb a {
    border: 0 none !important;
    cursor: pointer;
    display: block;
    left: 0;
    position: absolute;
    text-decoration: none;
    top: 0;
}

.rtexthumb .gdthumbtext { float: none; }
.gdthumbtext { float: left; font-size: 12px; }
.gdthumb { position: relative; float: right; }
.gdthumb.gdup a { background-position:  0px 0px; }
.thumblock .ratingloader { float: left; }

.ratemulti .starsbar .gdcurrent { width: 0; top: 0; position: absolute; }
.starsbar .gdinner { padding: 0; }
.ratingblock td { vertical-align: middle; }
.raterclear { clear: both; }
.raterleft { float: left; }
.raterright { float: right; }
.voted {color: #999;}
.inactive {color: #999;}
.thanks {color: #36AA3D;}
.static {color: #5D3126;}
.rater { top: 0; }

.ratingtextmulti { float: left; }
.ratingbutton { float: right; padding: 1px 6px; }
.ratingbutton.gdinactive { border: 1px solid #9c5f5f; background-color: #e9e4d4; }
.ratingbutton.gdactive { border: 1px solid black; background-color: #f1ede5; cursor: pointer; }
.ratingbutton a { line-height: 14px; text-decoration: none !important; }
.ratingbutton.gdactive { cursor: pointer; }
.ratingbutton.gdactive a { color: #ad1b1b; cursor: pointer; }
.ratingbutton.gdinactive a { color: gray; cursor: default; }
.gdmultitable { padding: 3px; margin: 3px; border: 1px solid #999999; }
.gdtblbottom td { padding-top: 4px; }
.gdtblbottom { margin-top: 2px; background-color: #fffcf4; }
.mtrow { background-color: #fffcf4; }
.mtrow td.mtstars { text-align: right; }
.mtrow.alternate { background-color: #f7f4ea; }
.gdtblmuravg { background-color: #fffcf4; }
.gdtblmuravg td { border-top: 2px solid #dcdcdc; text-align: center; }
.gdmultitable td { vertical-align: middle; padding: 2px 4px; color: black; }
.ratingblock, .thumblock { margin-bottom: 4px; margin-top: 4px; font-size: 12px; }
.ratingstarsinline { float: left; }
.ratingtext { padding-bottom: 2px; margin-bottom: 2px; margin-top: 0px; }
.ratingmulti img { border: 0; padding: 0; margin: 0; }
.gdouter { text-align: left; }

.ratingblockarticle { font-size: 1em; }
.ratingblockcomment { font-size: 0.8em; }
.ratingloaderarticle, .ratingloadercomment { font-size: 12px; text-align: center; vertical-align: middle; }

.cmminthide { display: none; }

/* loading indicators */
.loader { margin-left: auto; margin-right: auto; text-align: left; }


.loader.snake { background: url(../images/snake.gif) no-repeat left; padding-left: 14px; }
.loader.snake.width { width: 12px; }

.loader.width { padding-left: 0px; }
.loader.arrows.thumb, .loader.flower.thumb, .loader.circle.thumb, .loader.broken.thumb,
.loader.radar.thumb, .loader.triangles.thumb, .loader.snake.thumb, .loader.snakebig.thumb,
.loader.brokenbig.thumb { background-position: center !important; padding-left: 0px !important; }

/* top rating widget */
.trw-title { text-align: center; font-size: 16px; font-family: "Century Gothic", Arial, Helvetica, sans-serif; }
.trw-rating { font-size: 44px; font-family: "Century Gothic", Arial, Helvetica, sans-serif; font-weight: bold; text-align: center; }
.trw-footer { text-align: center; font-size: 11px; font-family: "Century Gothic", Geneva, Arial, Helvetica, sans-serif; }

.gdsrcacheloader {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin: 3px;
    padding: 3px;
}

.gdsrclsmall strong { font-size: 14px; }
.gdsrclsmall em { font-size: 11px; }
.gdsrclbig strong { font-size: 17px; }
.gdsrclbig em { font-size: 14px; }










.wp-pagenavi {
	clear: both;

}

.wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	
	padding: 3px 5px;
	margin: 2px;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	
}

.wp-pagenavi span.current {
	font-weight: bold;
}




.ad-gallery {
  width: 600px;
}
.ad-gallery, .ad-gallery * {
  margin: 0 auto;
  padding: 0;
}
  .ad-gallery .ad-image-wrapper {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
	-moz-box-shadow:0 20px 50px rgba(0,0,0,0.6);
	-webkit-moz-box-shadow:0 20px 50px rgba(0,0,0,0.6);
	-khtml-box-shadow:0 20px 50px rgba(0,0,0,0.6);
	-o-box-shadow:0 20px 50px rgba(0,0,0,0.6);
	box-shadow:0 20px 50px rgba(0,0,0,0.6);
	-moz-border-radius:0.5em;
	-webkit-border-radius:0.5em;
	-khtml-border-radius:0.5em;
	-o-border-radius:0.5em;
	border-radius:0.5em;
  }
    .ad-gallery .ad-image-wrapper .ad-loader {
      position: absolute;
      z-index: 10;
      top: 48%;
      left: 48%;
      border: 1px solid #CCC;
    }
    .ad-gallery .ad-image-wrapper .ad-next {
      position: absolute;
      right: 0;
      top: 0;
      width: 25%;
      height: 100%;
      cursor: pointer;
      display: block;
      z-index: 100;
    }
    .ad-gallery .ad-image-wrapper .ad-prev {
      position: absolute;
      left: 0;
      top: 0;
      width: 25%;
      height: 100%;
      cursor: pointer;
      display: block;
      z-index: 100;
    }
    .ad-gallery .ad-image-wrapper .ad-prev, .ad-gallery .ad-image-wrapper .ad-next {
      /* Or else IE will hide it */
      background: url(non-existing.jpg)\9
    }
      .ad-gallery .ad-image-wrapper .ad-prev .ad-prev-image, .ad-gallery .ad-image-wrapper .ad-next .ad-next-image {
        background: url(../images/ad_prev.png);
        width: 30px;
        height: 30px;
        display: none;
        position: absolute;
        top: 47%;
        left: 0;
        z-index: 101;
      }
      .ad-gallery .ad-image-wrapper .ad-next .ad-next-image {
        background: url(../images/ad_next.png);
        width: 30px;
        height: 30px;
        right: 0;
        left: auto;
      }
    .ad-gallery .ad-image-wrapper .ad-image {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      z-index: 9;
    }
      .ad-gallery .ad-image-wrapper .ad-image a img {
        border: 0;
      }
      .ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 7px;
        text-align: left;
        width: 100%;
        z-index: 2;
        background: url(../images/opa75.png);
        color: #000;
      }
      * html .ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
        background: none;
        filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=true, sizingMethod=scale, src='opa75.png');
      }
        .ad-gallery .ad-image-wrapper .ad-image .ad-image-description .ad-description-title {
          display: block;
        }
  .ad-gallery .ad-controls {
    height: 20px;
  }
    .ad-gallery .ad-info {
      float: left;
    }
    .ad-gallery .ad-slideshow-controls {
      float: right;
	  font-size: 0.7em;
    }
      .ad-gallery .ad-slideshow-controls .ad-slideshow-start, .ad-gallery .ad-slideshow-controls .ad-slideshow-stop {
        padding-left: 5px;
        cursor: pointer;
      }
      .ad-gallery .ad-slideshow-controls .ad-slideshow-countdown {
        padding-left: 5px;
        font-size: 0.9em;
      }
    .ad-gallery .ad-slideshow-running .ad-slideshow-start {
      cursor: default;
      font-style: italic;
    }
  .ad-gallery .ad-nav {
    width: 100%;
    position: relative;
  }
    .ad-gallery .ad-forward, .ad-gallery .ad-back {
      position: absolute;
      top: 0;
      height: 100%;
      z-index: 10;
    }
    /* IE 6 doesn't like height: 100% */
    * html .ad-gallery .ad-forward, .ad-gallery .ad-back {
      height: 100px;
    }
    .ad-gallery .ad-back {
      cursor: pointer;
      left: -20px;
      width: 13px;
      display: block;
      background: url(../images/ad_scroll_back.png) 0px 22px no-repeat;
    }
    .ad-gallery .ad-forward {
      cursor: pointer;
      display: block;
      right: -20px;
      width: 13px;
      background: url(../images/ad_scroll_forward.png) 0px 22px no-repeat;
    }
    .ad-gallery .ad-nav .ad-thumbs {
      overflow: hidden;
      width: 100%;
    }
      .ad-gallery .ad-thumbs .ad-thumb-list {
        float: left;
        width: 9000px;
        list-style: none;
      }
        .ad-gallery .ad-thumbs li {
          float: left;
          padding-right: 5px;
        }
          .ad-gallery .ad-thumbs li a {
            display: block;
          }
            .ad-gallery .ad-thumbs li a img {
              border: 3px solid #CCC;
              display: block;
            }
            .ad-gallery .ad-thumbs li a.ad-active img {
              border: 3px solid #616161;
            }
/* Can't do display none, since Opera won't load the images then */
.ad-preloads {
  position: absolute;
  left: -9000px;
  top: -9000px;
}

 #gallery{
 margin-top:2em;
 }
  #descriptions {
    position: relative;
    height: 50px;
    background: #EEE;
    margin-top: 10px;
    width: 640px;
    padding: 10px;
    overflow: hidden;
  }
    #descriptions .ad-image-description {
      position: absolute;
    }
      #descriptions .ad-image-description .ad-description-title {
        display: block;
      }
	  

	  
	  
	  
object.youtube{height: 390px; width: 640px;}

object.youtube embed {margin:2em auto;}

ul.children li.cat-item{margin-left:1em;font-size:90%;}




/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgb(25,25,25);
	background-color: rgba(25,25,25,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(20,20,20,0.92);
	}
}







.meterText{float:left;margin-left:0em;}

.meterTextEnd{float:right;}

.meter { 
			height: 20px;  /* Can be anything */
			position: relative;
			margin: 0px 0 10px 0; /* Just for demo spacing */
			
			-moz-border-radius: 25px;
			-webkit-border-radius: 25px;
			border-radius: 25px;
			padding: 10px;
			-moz-box-shadow:0 0px 10px rgba(0,0,0,0.6);
			-webkit-moz-box-shadow:0 0px 10px rgba(0,0,0,0.6);
			-khtml-box-shadow:0 0px 10px rgba(0,0,0,0.6);
			-o-box-shadow:0 0px 10px rgba(0,0,0,0.6);
			box-shadow:0 0px 10px rgba(0,0,0,0.6);
			width:30em;
			margin-left:8em;
			
		}
		.meter > span {
			display: block;
			height: 100%;
			   -webkit-border-top-right-radius: 8px;
			-webkit-border-bottom-right-radius: 8px;
			       -moz-border-radius-topright: 8px;
			    -moz-border-radius-bottomright: 8px;
			           border-top-right-radius: 8px;
			        border-bottom-right-radius: 8px;
			    -webkit-border-top-left-radius: 20px;
			 -webkit-border-bottom-left-radius: 20px;
			        -moz-border-radius-topleft: 20px;
			     -moz-border-radius-bottomleft: 20px;
			            border-top-left-radius: 20px;
			         border-bottom-left-radius: 20px;
			background-color: rgb(43,194,83);
			background-image: -webkit-gradient(
			  linear,
			  left bottom,
			  left top,
			  color-stop(0, rgb(43,194,83)),
			  color-stop(1, rgb(84,240,84))
			 );
			background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(43,194,83) 37%,
			  rgb(84,240,84) 69%
			 );
			-webkit-box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			-moz-box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			position: relative;
			overflow: hidden;
		}
		.meter > span:after, .animate > span > span {
			content: "";
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
			background-image: 
			   -webkit-gradient(linear, 0 0, 100% 100%, 
			      color-stop(.25, rgba(255, 255, 255, .2)), 
			      color-stop(.25, transparent), color-stop(.5, transparent), 
			      color-stop(.5, rgba(255, 255, 255, .2)), 
			      color-stop(.75, rgba(255, 255, 255, .2)), 
			      color-stop(.75, transparent), to(transparent)
			   );
			background-image: 
				-moz-linear-gradient(
				  -45deg, 
			      rgba(255, 255, 255, .2) 25%, 
			      transparent 25%, 
			      transparent 50%, 
			      rgba(255, 255, 255, .2) 50%, 
			      rgba(255, 255, 255, .2) 75%, 
			      transparent 75%, 
			      transparent
			   );
			z-index: 1;
			-webkit-background-size: 50px 50px;
			-moz-background-size: 50px 50px;
			-webkit-animation: move 2s linear infinite;
			   -webkit-border-top-right-radius: 8px;
			-webkit-border-bottom-right-radius: 8px;
			       -moz-border-radius-topright: 8px;
			    -moz-border-radius-bottomright: 8px;
			           border-top-right-radius: 8px;
			        border-bottom-right-radius: 8px;
			    -webkit-border-top-left-radius: 20px;
			 -webkit-border-bottom-left-radius: 20px;
			        -moz-border-radius-topleft: 20px;
			     -moz-border-radius-bottomleft: 20px;
			            border-top-left-radius: 20px;
			         border-bottom-left-radius: 20px;
			overflow: hidden;
		}
		
		.animate > span:after {
			display: none;
		}
		
		@-webkit-keyframes move {
		    0% {
		       background-position: 0 0;
		    }
		    100% {
		       background-position: 50px 50px;
		    }
		}
		
		.yellow > span {
			background-color: #f1a165;
			background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
			background-image: -webkit-linear-gradient(#f1a165, #f36d0a); 
		}
		
		.red > span {
			background-color: #f0a3a3;
			background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
			background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
		}
		
		.nostripes > span > span, .nostripes > span:after {
			-webkit-animation: none;
			background-image: none;
		}
		
		.progresBar{margin-top:2em;margin-left:2em;}