/*LOGIN */
/* sliding panel */
#toppanel {
background: none;
	position: absolute;   /*Panel will overlap  content */
	/*position: relative;*/   /*Panel will "push" the content down */
	top: 0;
	left: 800px;
	width: 50%;
	z-index: 999;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 90%; /* font-size set to 130% for the default Kubrick Wordpress theme */
		-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:8px;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
 
#panel {
	width: 100%;
	height: 280px;
	color: #999999;
	background: #272727;
	overflow: hidden;
	position: relative;
	z-index: 3;
	display: none;

}
 
#panel h1 {
	font-size: 1.6em;
	padding: 5px 0 10px;
	margin: 0;
	color: white;
	text-align: left;
}
 
#panel h2{
	font-size: 1.2em;
	padding: 10px 0 5px;
	margin: 0;
	color: white;
	text-align: left;
}
 
#panel p {
	margin: 5px 0;
	padding: 0;
}
 
#panel a {
	text-decoration: none;
	color: #15ADFF;
}
 
#panel a:hover {
	color: white;
}
 
#panel a-lost-pwd {
	display: block;
	float: left;
}
 
#panel ul {
	margin: 0 0 5px 0;
	padding: 0;
	line-height: 1.6em;
	list-style: none;
}
 
#panel .content {
	width: 960px;
	margin: 0 auto;
	padding-top: 15px;
	text-align: left;
	font-size: 0.85em;
}
 
#panel .content .left {
	width: 280px;
	float: left;
	margin-bottom: 25px;
	padding: 0 15px;
	border-right: 1px solid #333;
	min-height: 220px;
}
 
#panel .content .border {
	border-left: 1px solid #333;
}
 
#panel .content .narrow {
	width:120px !important;
}
 
#panel .content form {
	margin: 0 0 10px 0;
}
 
#panel .content label {
	float: left;
	padding-top: 8px;
	clear: both;
	width: 280px;
	display: block;
}
 
#panel .content input.field {
    border-color: #B8C4C5 #FFF #FFF #B8C4C5;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    border-right: 1px solid #FFF;
    border-style: solid;
    border-width: 1px;
    margin-right: 5px;
    margin-top: 4px;
    width: 200px;
    color: black;
    height: 20px
    }
	
#panel .content input.field:hover{
	background: #CEDDDF;
}

#panel .content input:focus.field {
	background: #CEDDDF;
}
 
/* BUTTONS */
/* Login and Register buttons */
#panel .content input.bt_login, #panel .content input.bt_register {
    display: block;
    float: left;
    clear: left;
    height: 24px;
    text-align: center;
    cursor: pointer;
    border: none;
    font-weight: bold;
    margin: 10px 0
    }

#panel .content input.bt_login {
    width: 74px;
    background: -moz-linear-gradient(#F9F9F9, #E5E5E5) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(#F9F9F9, #E5E5E5) repeat scroll 0 0 transparent;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px
    }

#panel .content input.bt_login:hover {
    background: -webit-linear-gradient(#F9F9F9, #A1A1A1) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(#F9F9F9, #A1A1A1) repeat scroll 0 0 transparent
    }

#panel .content input.bt_register {
    width: 94px;
    color: black;
    background: -moz-linear-gradient(#F9F9F9, #E5E5E5) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(#F9F9F9, #E5E5E5) repeat scroll 0 0 transparent;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px
    }

#panel .content input.bt_register:hover {
    background: -moz-linear-gradient(#F9F9F9, #E5E5E5) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(#F9F9F9, #E5E5E5) repeat scroll 0 0 transparent;
    }

#panel .lost-pwd {
    display: block;
    float: left;
    clear: right;
    padding: 15px 5px 0;
    font-size: 0.95em;
    text-decoration: underline
    }
	
/* do sem je preverjono za vse brskalnike */	
/* Panel Tab/button */
.tab {

	height: 42px;
	position: relative;
	top: 0;
	z-index: 999;
}
 
.tab ul.login {
	display: block;
	position: relative;
  	float: right;
  	clear: right;
  	height: 42px;
	width: auto;
  	font-weight: bold;
	line-height: 42px;
	margin: 0;
	right: 100px;
  	color: white;
  	font-size: 80%;
	text-align: center;
}
 
.tab ul.login li.left {

  	height: 42px;
	width: 30px;
	padding: 0;
	margin: 0;
  	display: block;
	float: left;
}
 
.tab ul.login li.right {

  	height: 42px;
	width: 30px;
	padding: 0;
	margin: 0;
  	display: block;
	float: left;
}
 
.tab ul.login li {
 	text-align: left;
  	padding: 0 6px;
	display: block;
	float: left;
	height: 42px;

}
 
.tab ul.login li a {
	color: #15ADFF;
	font-size:9px;
}
 
.tab ul.login li a:hover {
	color: white;
}
 
.tab .sep {color:#414141}
 
.tab a.open, .tab a.close {
	height: 20px;
	line-height: 20px !important;
	padding-left: 30px !important;
	cursor: pointer;
	display: block;
	width: 100px;
	position: relative;
	top: 11px;
}
 
.tab a.open {background: url(../images/bt_open.png) no-repeat left 0;}
.tab a.close {background: url(../images/bt_close.png) no-repeat left 0;}
.tab a:hover.open {background: url(../images/bt_open.png) no-repeat left -19px;}
.tab a:hover.close {background: url(../images/bt_close.png) no-repeat left -19px;}


/* JS disabled styles */
nav li:hover ul { display:block; }

/* base nav styles */
nav { display:block; margin:-3.72em auto 20px; position:relative; font:16px Tahoma, Sans-serif; }
nav ul { padding:0; margin:0; }
nav li { position:relative; float:left; list-style-type:none; }
nav ul:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
nav li a { display:block; padding:10px 20px; border-left:1px solid #2F2F2F; border-right:1px solid #2F2F2F; color:#eee; text-decoration:none; }
nav li a:focus { outline:none; text-decoration:underline; }
nav li:first-child a { border-left:none; }
nav li.last a { border-right:none; }
nav a span { display:block; float:right; margin-left:5px; }
nav ul ul { display:none; width:100%; position:absolute; left:0; background:#6a6a6a; }
nav ul ul li { float:none; }
nav ul ul a { padding:5px 10px; border-left:none; border-right:none; font-size:14px; }
nav ul ul a:hover { background-color:#555; }

/* CSS3 */
.borderradius nav { -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }


.cssgradients nav li:hover { background:url(../images/bk_top_hover.png) 50% 0 no-repeat;}
.borderradius nav ul ul { -moz-border-radius-bottomleft:4px; -moz-border-radius-bottomright:4px; -webkit-border-bottom-left-radius:4px; -webkit-border-bottom-right-radius:4px; border-bottom-left-radius:4px; border-bottom-right-radius:4px; }
.boxshadow.rgba nav ul ul { background-color:rgba(0,0,0,0.8); -moz-box-shadow:2px 2px 2px rgba(0,0,0,.8); -webkit-box-shadow:2px 2px 2px rgba(0,0,0,.8); box-shadow:2px 2px 2px rgba(0,0,0,.8); }
.rgba nav ul ul li { border-left:1px solid rgba(0,0,0,0.1); border-right:1px solid rgba(0,0,0,0.1); }
.rgba nav ul ul a:hover { background-color:rgba(85,85,85,.9); }
.borderradius.rgba nav ul ul li.last { border-left:1px solid rgba(0,0,0,0.1); border-bottom:1px solid rgba(0,0,0,0.1); -moz-border-radius-bottomleft:4px; -moz-border-radius-bottomright:4px; -webkit-border-bottom-left-radius:4px; -webkit-border-bottom-right-radius:4px; border-bottom-left-radius:4px; border-bottom-right-radius:4px; }
.csstransforms ul a span { -moz-transform:rotate(-180deg);-webkit-transform:rotate(-180deg); }


/* Social Links 

#socialLinks {
	position:absolute;
	right:35em;
	top:75px;
	background:url(images/bk_social_links.png) 0 50% no-repeat;
	height:64px;
	float:right;
}

#socialLinks .linkedin, #socialLinks .facebook, #socialLinks .twitter, #socialLinks .rss {
	display:block;
	width:64px;
	height:64px;
	float:left;
	margin-left:5px;
	text-indent:-9999px;
	
}

#socialLinks .linkedin:hover, #socialLinks .facebook:hover, #socialLinks .twitter:hover, #socialLinks .rss:hover {
	margin-bottom:2px;
}

#socialLinks .linkedin {
	background:url(images/ico_linkedin.png) 0 0 no-repeat;
}

#socialLinks .facebook {
	background:url(../images/facebook.png) 0 0 no-repeat;
}

#socialLinks .twitter {
	background:url(../images/twitter.png) 0 0 no-repeat;
}

#socialLinks .rss {
	background:url(../images/rss1.png) 0 0 no-repeat;
}*/


/* Stars */

/* stars sizes: 12, 16, 20, 24, 30, 46 */
/* stars sets: christmas, crystal, darkness, oxygen, oxygen_gif, plain, pumpkin, soft, starrating, starscape */
/* thumbs sizes: 12, 16, 20, 24, 32, 40 */
/* thumbs sets: classical, starrating, starrating_gif */
/* loaders: flower, snake */


.starsbar.gdsr-size-24, .starsbar.gdsr-size-24 .gdheight, .starsbar.gdsr-size-24 a { height: 24px; }
.starsbar.gdsr-size-24 a.s1 { width: 24px; }
.starsbar.gdsr-size-24 a.s2 { width: 48px; }
.starsbar.gdsr-size-24 a.s3 { width: 72px; }
.starsbar.gdsr-size-24 a.s4 { width: 96px; }
.starsbar.gdsr-size-24 a.s5 { width: 120px; }
.starsbar.gdsr-size-24 a.s6 { width: 144px; }
.starsbar.gdsr-size-24 a.s7 { width: 168px; }
.starsbar.gdsr-size-24 a.s8 { width: 192px; }
.starsbar.gdsr-size-24 a.s9 { width: 216px; }
.starsbar.gdsr-size-24 a.s10 { width: 240px; }
.starsbar.gdsr-size-24 a.s11 { width: 264px; }
.starsbar.gdsr-size-24 a.s12 { width: 288px; }
.starsbar.gdsr-size-24 a.s13 { width: 312px; }
.starsbar.gdsr-size-24 a.s14 { width: 336px; }
.starsbar.gdsr-size-24 a.s15 { width: 360px; }
.starsbar.gdsr-size-24 a.s16 { width: 384px; }
.starsbar.gdsr-size-24 a.s17 { width: 408px; }
.starsbar.gdsr-size-24 a.s18 { width: 432px; }
.starsbar.gdsr-size-24 a.s19 { width: 456px; }
.starsbar.gdsr-size-24 a.s20 { width: 480px; }

.ratepost.gdsr-size-24, .ratepost.gdsr-size-24 .starsbar .gdouter { width: 240px; }

.rcmmpost.gdsr-size-24, .rcmmpost.gdsr-size-24 .starsbar .gdouter { width: 240px; }

.rcmmmulti.gdsr-size-24, .rcmmmulti.gdsr-size-24 .starsbar .gdouter { width: 480px; }

.ratecmm.gdsr-size-24, .ratecmm.gdsr-size-24 .starsbar .gdouter { width: 120px; }

.reviewcmm.gdsr-size-24, .reviewcmm.gdsr-size-24 .starsbar .gdouter { width: 120px; }



.gdsr-oxygen .starsbar.gdsr-size-24 .gdouter { background: url('../images/stars24.png') repeat-x 0px 0px; }
.gdsr-oxygen .starsbar.gdsr-size-24 .gdinner { background: url('../images/stars24.png') repeat-x 0px -48px; }
.gdsr-oxygen .starsbar.gdsr-size-24 .gdcurrent { background: url('../images/stars24.png') repeat-x 0px -24px; }
.gdsr-oxygen .starsbar.gdsr-size-24 a:hover { background: url('../images/stars24.png') repeat-x 0px -24px !important; }


.ratepost, .rcmmpost, .ratemulti, .rcmmmulti, .ratecmm, .reviewcmm { position: relative; display: block; }
.ratepost .starsbar .gdinner, .rcmmpost .starsbar .gdinner, .ratemulti .starsbar .gdinner, .rcmmmulti .starsbar .gdinner, .ratecmm .starsbar .gdinner, .reviewcmm .starsbar .gdinner { width: 0; }
.ratepost .starsbar a:active, .rcmmpost .starsbar a:active, .ratemulti .starsbar a:active, .rcmmmulti .starsbar a:active, .ratecmm .starsbar a:active, .reviewcmm .starsbar a:active { text-decoration: none; border: 0 !important; }
.ratepost .starsbar a:visited, .rcmmpost .starsbar a:visited, .ratemulti .starsbar a:visited, .rcmmmulti .starsbar a:visited, .ratecmm .starsbar a:visited, .reviewcmm .starsbar a:visited { text-decoration: none; border: 0 !important; }
.ratepost .starsbar a:hover, .rcmmpost .starsbar a:hover, .ratemulti .starsbar a:hover, .rcmmmulti .starsbar a:hover, .ratecmm .starsbar a:hover, .reviewcmm .starsbar a:hover { text-decoration: none; border: 0 !important; }
.ratepost .starsbar a, .rcmmpost .starsbar a, .ratemulti .starsbar a, .rcmmmulti .starsbar a, .ratecmm .starsbar a, .reviewcmm .starsbar a { position: absolute; display: block; left: 0; top: 0; text-decoration: none; border: 0 !important; cursor: pointer; background: none !important; }


.gdt-size-20.gdthumbtext { line-height: 20px; }
.gdt-size-20.gdthumb, .gdt-size-20.gdthumb a, .gdt-size-20.gdthumb div { width: 20px; height: 20px; }
.gdt-size-20.gdthumb.gddw a, .gdt-size-20.gdthumb.gddw div { background-position: 0px -20px !important; }
.gdt-size-20.gdthumb.gdup a:hover { background-position: 0px -40px; }
.gdt-size-20.gdthumb.gddw a:hover { background-position: 0px -60px !important; }

.gdt-size-20.gdthumb a.gdt-starrating, .gdt-size-20.gdthumb div.gdt-starrating { background: url('../images/thumbs20.png') no-repeat; }


.gdthumb a {
    border: 0 none !important;
    cursor: pointer;
    display: block;
    left: 0;
    position: absolute;
    text-decoration: none;
    top: 0;
}

.rtexthumb .gdthumbtext { float: none; }
.gdthumbtext { float: left; font-size: 12px; }
.gdthumb { position: relative; float: right; }
.gdthumb.gdup a { background-position:  0px 0px; }
.thumblock .ratingloader { float: left; }

.ratemulti .starsbar .gdcurrent { width: 0; top: 0; position: absolute; }
.starsbar .gdinner { padding: 0; }
.ratingblock td { vertical-align: middle; }
.raterclear { clear: both; }
.raterleft { float: left; }
.raterright { float: right; }
.voted {color: #999;}
.inactive {color: #999;}
.thanks {color: #36AA3D;}
.static {color: #5D3126;}
.rater { top: 0; }

.ratingtextmulti { float: left; }
.ratingbutton { float: right; padding: 1px 6px; }
.ratingbutton.gdinactive { border: 1px solid #9c5f5f; background-color: #e9e4d4; }
.ratingbutton.gdactive { border: 1px solid black; background-color: #f1ede5; cursor: pointer; }
.ratingbutton a { line-height: 14px; text-decoration: none !important; }
.ratingbutton.gdactive { cursor: pointer; }
.ratingbutton.gdactive a { color: #ad1b1b; cursor: pointer; }
.ratingbutton.gdinactive a { color: gray; cursor: default; }
.gdmultitable { padding: 3px; margin: 3px; border: 1px solid #999999; }
.gdtblbottom td { padding-top: 4px; }
.gdtblbottom { margin-top: 2px; background-color: #fffcf4; }
.mtrow { background-color: #fffcf4; }
.mtrow td.mtstars { text-align: right; }
.mtrow.alternate { background-color: #f7f4ea; }
.gdtblmuravg { background-color: #fffcf4; }
.gdtblmuravg td { border-top: 2px solid #dcdcdc; text-align: center; }
.gdmultitable td { vertical-align: middle; padding: 2px 4px; color: black; }
.ratingblock, .thumblock { margin-bottom: 4px; margin-top: 4px; font-size: 12px; }
.ratingstarsinline { float: left; }
.ratingtext { padding-bottom: 2px; margin-bottom: 2px; margin-top: 0px; }
.ratingmulti img { border: 0; padding: 0; margin: 0; }
.gdouter { text-align: left; }

.ratingblockarticle { font-size: 1em; }
.ratingblockcomment { font-size: 0.8em; }
.ratingloaderarticle, .ratingloadercomment { font-size: 12px; text-align: center; vertical-align: middle; }

.cmminthide { display: none; }

/* loading indicators */
.loader { margin-left: auto; margin-right: auto; text-align: left; }


.loader.snake { background: url(../images/snake.gif) no-repeat left; padding-left: 14px; }
.loader.snake.width { width: 12px; }

.loader.width { padding-left: 0px; }
.loader.arrows.thumb, .loader.flower.thumb, .loader.circle.thumb, .loader.broken.thumb,
.loader.radar.thumb, .loader.triangles.thumb, .loader.snake.thumb, .loader.snakebig.thumb,
.loader.brokenbig.thumb { background-position: center !important; padding-left: 0px !important; }

/* top rating widget */
.trw-title { text-align: center; font-size: 16px; font-family: "Century Gothic", Arial, Helvetica, sans-serif; }
.trw-rating { font-size: 44px; font-family: "Century Gothic", Arial, Helvetica, sans-serif; font-weight: bold; text-align: center; }
.trw-footer { text-align: center; font-size: 11px; font-family: "Century Gothic", Geneva, Arial, Helvetica, sans-serif; }

.gdsrcacheloader {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin: 3px;
    padding: 3px;
}

.gdsrclsmall strong { font-size: 14px; }
.gdsrclsmall em { font-size: 11px; }
.gdsrclbig strong { font-size: 17px; }
.gdsrclbig em { font-size: 14px; }

